<!DOCTYPE html>
<html>


   <body>

   <h3><a href="">Login with Facebook</a></h3>
   <h3><a href="">Login with Twitter</a></h3>

   <h3><a href = "{{ url_for('submit') }}">Signup</a></h3> 


   {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
   
   	  
   <link rel="stylesheet" href="/static/style.css" type="text/css">
	{% if session['logged_in'] %}
	<p>You're logged in already!</p>
	{% else %}


    <form action = "/login_validate" method = "POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
	</form>
	{% endif %}
	</body>
</html>