<!DOCTYPE html>
<html>


   <body>
   	  <!-- {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %} -->
   <link rel="stylesheet" href="/static/signup.css" type="text/css">
   
      
<h3><a href = "{{ url_for('login_page') }}">Login</a></h3>  


 <h1>OAuth Demo</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.username }}!</h2>
            <p><a href="{{ url_for('logoutnew') }}">Logout</a></p>
        {% else %}
            <h2>I don't know you!</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
        {% endif %}


    <form action = "{{ request.path }}" method = "post">
	<div class="Signup">
		<div class="Signup-screen">
			<div class="app-title">
				<h1>Signup</h1>
			</div>
 
			<div class="Signup-form">
			<center>
				<div class="control-group">
				<input type="text" class="Signup-field" value="" placeholder="username" name="username">
				</div>
 
				<div class="control-group">
				<input type="test" class="Signup-field" value="" placeholder="email" name="email">
				</div>

				<div class="control-group">
				<input type="password" class="Signup-field" value="" placeholder="password" name="password">
				</div>

			</center>
 
                <input type="submit" value="Signup" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
<!-- <a href="/templates/login.html" class="btn btn-default">Login</a> -->





      <!-- <form action = "{{ request.path }}" method = "post">
         <input type = "text" name = "username" placeholder = "username" /><br>
         <input type = "text" name = "email" placeholder = "email" /><br>

         <input type = "password" name = "password" placeholder = "password" /><br>
         <input type = "submit" value = "Signup" />
      </form> -->
      
   </body>
</html>





<!-- 
<html>
    <head>
        <title>OAuth Flask Demo</title>
    </head>
    <body>
        <h1>OAuth Demo</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <h2>I don't know you!</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
        {% endif %}
    </body>
</html>
 -->